{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "html",
    "import",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "prefer-const": "off"
  }
}
