<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="@@description">
  <meta name="keywords" content="Sedona, Седона, туризм, отдых, путешествие">
  <title>@@title</title>
  <link rel="icon" href="favicon.ico" />
  <link rel="icon" href="img/favicons/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="img/favicons/180.png">
  <link rel="manifest" href="manifest.webmanifest">
  <link rel="stylesheet" href="css/styles.min.css">
</head>
