/* Page-footer */

.page-footer {
  padding-top: 29px;
  padding-bottom: 23px;
  text-align: center;
}

.page-footer--index {
  padding-top: 39px;
}

.page-footer__contacts {
  padding-bottom: 34px;
}

.page-footer__social {
  margin-bottom: 40px;
}
