/* Search-hotels */

.search-hotels {
  min-height: 287px;
  padding-top: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 318px;
    padding-top: 50px;
  }
}

.search-hotels__title {
  margin: 0 0 19px 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 26px;
  }
}

.search-hotels__text {
  margin: 0 0 27px 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }
}

.search-hotels__br-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.search-hotels__br-tablet {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.search-hotels__button {
  width: 280px;
  min-height: 58px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
