$basic-white: #ffffff;
$basic-black: #000000;
$basic-blue: #81b3d2;
$basic-blue-dark: #5496bd;
$basic-grey-extra-light: #f2f2f2;
$basic-grey-light: #eeeeee;
$basic-grey: #cacaca;
$basic-grey-light-dark: #a9a9a9;
$basic-grey-dark: #6a6a6a;
$basic-grey-extra-dark: #666666;
$basic-brown: #766357;
$basic-brown-dark: #604e43;
$basic-brown-extra-dark: #503e33;

$hover-blue: #669ec0;
$hover-brown: #604e43;
$hover-grey: #ebebeb;

$active-blue: #5496bd;
$active-brown: #503e33;
$active-grey: #bdbbbc;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
